.form-group {

  .bw-input {
    &.x-small {
      width: 50px;
    }
    &.small {
      width: 200px;
    }
    &.medium {
      width: 350px;
    }

    &.large {
      width: 500px;
    }
    &.error {
      border: 1px solid crimson;
      border-radius: 5px;
    }
  }

  span {
    &.help-block {
      font-size: 13px;
    }
  }
}



div[ui-view] {
  &.ng-enter {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }
}

