<section>
	<header>
		<h4>Address</h4>
	</header>

	<bw-input type="text" ng-model="address.street" name="addressStreet" ng-required="true" placeholder="Street">
		<label>Street</label>
	</bw-input>

	<bw-input type="text" ng-model="address.suite" name="addressSuite" placeholder="Suite">
		<label>Suite</label>
	</bw-input>

	<bw-input type="text" ng-model="address.city" name="addressCity" placeholder="City">
		<label>City</label>
	</bw-input>

	<bw-input type="text" ng-model="address.zipcode" name="addressZipCode" placeholder="Zip code" class="small">
		<label>Zip code</label>
	</bw-input>


</section>